.card {
	flex: 0 1 33.333%;
	padding: 15px;

}

@media (max-width: 900px) {
  .card {
    flex: 0 1 50%;
  }
}

@media (max-width: 580px) {
  .card {
    flex: 0 1 100%;
  }
}



.body {
	text-align: center;
	border: 1px solid #f6f6f6;
	border-radius: 10px;
	padding: 30px;
}

.img img {
	max-width: 100%;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.img {
	margin: 0px 0px 30px 0px;
}

.name {
	margin: 0px 0px 15px 0px;
	font-size: 18px;
	color: #474747;
	font-weight: 400;
}
.price {
	font-size: 18px;
	font-weight: 700;
	color: #474747;
	transition: all 0.5s ease 0s;
}

.button {
	opacity: 0;
	visibility: hidden;
}

.body:hover .price {
	margin: 0px 0px 35px 0px;
}
.body:hover .button {
	opacity: 1;
	visibility: visible;
}

.body:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.body:hover .card {
	padding-bottom: 45px;
}